{
    "swagger": "2.0",
    "info": {
        "title": "geoai",
        "description": "## geoai services",
        "version": "1.0.0"
    },
    "host": "api.skydipper.com",
    "schemes": [
        "https",
        "http"
    ],
    "produces": [
        "application/vnd.api+json"
    ],
    "paths": {
        "/v1/geoai/trend": {
            "post": {
                "description": "Post a 1D dataset and use low pass filter and Monte Carlo resampling to determine long-term change over the data.",
                "tags": [
                    "trend"
                ],
                "parameters": [
                    {
                        "name": "timeseries",
                        "in": "query",
                        "description": "list",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "Period of time (default '2001-01-01, 2017-02-01')",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Results obtained",
                        "schema": {
                            "$ref": "#/definitions/USEFORMA250"
                        }
                    },
                    "404": {
                        "description": "Geostore not found",
                        "schema": {
                            "$ref": "#/definitions/Errors"
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Errors"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Errors"
                        }
                    }
                }
            }
        }
    }
}
